
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container">
            <div class="tablediv">
                <table>
                    <tr>
                        <td>slno</td>
                    
                        <td>p_image</td>
                    
                    
                        <td>name</td>
                    
                    
                        <td>price</td>
                    
                    
                        <td>quantity</td>
                    
                    
                        <td>total</td>
                    </tr>
                    <tr>
                        <td><input type="text" name="m_slno"></td>
                        <td><input type="text"name="m_image"></td>
                        <td><input type="text" name="m_name" id=""></td>
                        <td><input type="text" name="m_price" id=""></td>
                        <td> <select name="quantity" name="m_qty">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                          </select></td>
                        <td><input type="text" name="m_total" id=""></td>
                    </tr>
                    <tr>

                        <td><input type="button" value="CheckOut"></td>
                    </tr>
                    
                </table>

            </div>

        </div>

    </form>
    
</body>
</html>